body{
    margin: 0;
    padding :0;
    background-color: #ff9f43;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #222f3e;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    color: #ff9f43;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #222f3e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-input{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    width: 0px;
    color: white;
    font-size: 17;
    transition: 0.4s;
    line-height: 40px;
}

.search-box:hover > .search-input {
    width: 310px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    color: white;
}